<div class ="container text-center">
<h1>About pages</h1>
<p>We are DevMatch. Our Cpmapny focuses on creatinf an exclusive community
developers and entrepreneurs to meet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ab illum eum placeat veritatis aspernatur deleniti quia quis aut, temporibus! Pariatur dolore earum facilis laudantium? Provident deleniti nemo debitis assumenda. </p>
</div>